.command {
  background-color: #f5f4fa;
}

.command-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.command-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.command-item {
  width: calc((100% - 90px) / 4);

  background: var(--primery-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding-left: 5px;
    padding-right: 5px; */
}

.command-after-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.command-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;

  letter-spacing: 0.03em;
  color: var(--text-color-gray);
}

.command-soc,
.footer-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.command-soc-link {
  background-color: var(--primery-background-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.command-soc-link,
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.command-soc-icon {
  fill: var(--primery-icon-background);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .command-soc-link:hover &,
  .command-soc-link:focus & {
    fill: var(--primery-background-color);
  }
}
